// header
header{
    height: 80px;
    padding: 20px 0;
}

.logo{
    width: 245px;
}

.headerTitle{
    h2{
        font-weight: 900;
        font-size: 120px;
        line-height: 120%;
    }
    .titleBtn{
        padding: 20px 40px;
    }
    .decoImg{
        margin-top: 100px;
        li{
            overflow: hidden;
        }
    }
}

@media (max-width: 768px){
    header{
        padding: 28px 0;
        .navbar-btn{
            display: block;
            margin-right: 11px;
        }
        .navbar-menu{
            display: none;
        }
    }
    .headerTitle{
        h2{
            font-size: 48px;
        }
        .decoImg{
            margin-top: 180px;
            justify-content: center;
        }
    } 
}


.animation {
    animation-name: move-object;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: backwards;
    &-1{
        animation-delay: 1s;
        
    }
    &-2{
        animation-delay: 0.5s;
    }
    &-3{
        animation-delay: 0;
    }

  }
  @keyframes move-object {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-100%);
    }
  }