// 導覽列
.navbar-btn {
  margin-right: 11px;
  padding: 0;
}

.decoImg-list {
  margin: 100px 0 160px;
}

@media (max-width: 768px) {
  .decoImg-list {
    margin: 180px 0 120px;
  }
}
// 箭頭動畫
.animation {
  animation-name: move-object;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: backwards;
  &-1 {
    animation-delay: 1s;
  }
  &-2 {
    animation-delay: 0.5s;
  }
  &-3 {
    animation-delay: 0;
  }
}
@keyframes move-object {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

// 我們的服務
.service {
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  .service {
    margin-bottom: 120px;
  }
}

// 夥伴名單陰影
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    #020202 0%,
    transparent 30%,
    transparent 50%,
    transparent 70%,
    #020202 100%
  );
}

.partner {
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  .partner {
    margin-bottom: 120px;
  }

  .partnerCardBtn {
    margin-top: 24px;
    li {
      width: 12px;
      height: 12px;
      background: $gray;
      border-radius: 50%;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    .active {
      background: $primary;
    }
  }
}

// AI工具卡片列表
.searchBar {
  background: $lightGray;
  padding: 20px 40px;
  // color: #919191;
  input{
    border: 0;
    background-color: $lightGray;
    &::placeholder{
      color: #919191;
    }
  }
}
.aiToolBtn {
  background-color: $primary;
  border: $border-width $border-style $lightGray;
  padding: 20px 40px;
  flex:0 0 auto;
  color: $secondary;
}
.aiToolTag {
    border-collapse:separate;
    border-spacing: 8px 0px;
  a {
    display: inline-block;
    color: #919191;
    padding: 8px 16px;
  }
  .active {
    background: $lightGray;
    color: $secondary;
  }
}

@media (max-width: 992px){
  .aiToolTag {
    display: block;
    overflow-x: auto;
    td{
      white-space:nowrap
    }
  }
}

@media (max-width: 768px) {
  .aiToolTag {
    margin: 0 auto;
    margin-top: 16px;
    order: 3;
  }
}


.pagination {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: $secondary;
    width: 48px;
    height: 48px;
    text-align: center;
  }
  .active {
    color: $primary;
    background: $secondary;
  }
}


// 頁尾
.footer-startBtn {
  margin: 80px 0px;
  padding: 80px 0px;
}

.footerTitle {
  border-top: $border-width $border-style $primary;
  border-bottom: $border-width $border-style $primary;
  padding: 80px 0px;
}

.footerLink {
  padding: 32px 0;;
}

@media (max-width: 768px) {
  .footerTitle {
    flex-direction: column;
    a {
      order: -1;
      margin-bottom: 40px;
    }
  }

  .footerLink{
    .topBtn {
      text-align: right;
      order: 2;
      margin-left: auto;
    }
    .linkGroup {
      width: 100%;
      order: 3;
      margin-top: 36px;
    }
  }
}
