// 導覽列
.navbar-btn {
  margin-right: 11px;
  padding: 0;
  @media (max-width: 768px) {
    margin-right: 0px;
    display: block;
  }
}
.navbar-collapse{
  text-align: right;
}

.decoImg-list {
  margin: 100px 0 160px;
}

@media (max-width: 768px) {
  .decoImg-list {
    margin: 180px 0 120px;
  }
}
// 箭頭動畫
.animation {
  animation-name: move-object;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: backwards;
  &-1 {
    animation-delay: 1s;
  }
  &-2 {
    animation-delay: 0.5s;
  }
  &-3 {
    animation-delay: 0;
  }
}
@keyframes move-object {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

// 我們的服務
.service {
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  .service {
    margin-bottom: 120px;
  }
}

.partner {
  margin-bottom: 160px;
}

@media (max-width: 768px) {
  .partner {
    margin-bottom: 120px;
  }
}

// AI工具卡片列表
.searchBar {
  background: $lightGray;
  padding: 20px 40px;
  input {
    border: 0;
    flex-grow: 1;
    background-color: $lightGray;
    &::placeholder {
      color: #919191;
    }
    &:focus {
      outline: none;
    }
  }
}
.aiToolBtn {
  background-color: $primary;
  border: $border-width $border-style $lightGray;
  white-space: nowrap;
  padding: 20px 40px;
  flex: 0 0 auto;
  color: $secondary;
  &:hover{
      border-color: $secondary;
  }
}
.aiToolTag {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  a {
    display: inline-block;
    color: #919191;
    padding: 8px 16px;
  }
  .active {
    background: $lightGray;
    color: $secondary;
    font-weight: bold;
    border-radius: 16px;
  }

  @media (max-width: 768px) {
    margin: 0 auto;
    margin-top: 16px;
    order: 3;
  }
}
.dropdown{
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right:0;
  background-color: $primary;
  margin-top: 4px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow:  0px 4px 10px rgba(0,0,0,0.1);
  padding: 20px 0;
  border-radius: 16px;
  z-index: 2;

  h3{
    font-style: 12px;
    font-weight: 700;
    color: #919191;
    padding: 0 40px;
    margin-bottom: 8px;
  }
}

.dropdown-menu a {
  padding: 4px 40px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #F2F2F2;
}
.filter-dropdown{
  left: 0;
  min-width: 240px;
}

.filter-border{
  border-bottom: $border-width $border-style #F2F2F2;
  margin: 8px auto;
  width: 80%;
}

.pagination {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: $secondary;
    width: 48px;
    height: 48px;
    text-align: center;

    &:hover{
      color: $primary;
      background: $secondary;
    }
  }
  .active {
    color: $primary;
    background: $secondary;
  }

}

// 頁尾
.footer-startBtn {
  margin: 80px 0px;
  padding: 80px 0px;
}

.footerTitle {
  border-top: $border-width $border-style $primary;
  border-bottom: $border-width $border-style $primary;
  padding: 80px 0px;
}

.footerLink {
  padding: 32px 0;

  @media (max-width: 768px) {
    .linkGroup {
      width: 100%;
      order: 3;
      margin-top: 36px;
    }
  }
}

// swiper 套件設定
.swiper {
  /* 分頁按鈕調整至距離卡片文字底部 24px
      扣除按鈕本體寬度 (36px-12px)   */
  padding-bottom: 36px;
}

.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: $gray;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: $primary;
}
