.container{
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width: 768px){
   .container{
     padding:0 12px ;
   } 
}

.d{
    &-flex{
        display: flex;
    }
    &-none{
        display: none;
    }
}

.align-items{
    &-center{
        align-items: center;
    }
}

.justify-content{
    &-center{
        justify-content: center;
    }
    &-between{
        justify-content: space-between;
    }
    &-end{
        justify-content: flex-end;
    }
}

.border{
    border: $border-width solid $border-color;
    &-bottom{
        border-bottom: $border-width solid $border-color;
    }
    &-0{
        border:0;
    }
}

.m{
    &e-20{
        margin: 0 20px;
    }
    &t-40{
        margin-top: 40px;
    }
}




.fw{
    &-700{
        font-weight: 700;
    }
}
