// --- color ---
$primary:#FFFFFF;
$secondary:#020202;
$gray: #525252; 
$lightGray:#f2f2f2;

// --- border ---
$border-width: 1px;
$border-style: solid;
$border-color: $primary;

// --- grid system ---
$gutter-width: 24px;