// --- grid system ---
.container {
  max-width: 1296px + $gutter-width;
  margin: 0px auto;
  padding: 0px $gutter-width/2;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0px (-$gutter-width/2);
}


@each $column, $width in $col {
  .col-#{$column} {
    width: $width;
    flex: 0 0 auto;
    padding: 0px $gutter-width/2;
  }
}

@each $size, $breakpoints in $grid-breakpoints {
  @include media($breakpoints) {
    @each $column, $width in $col {
      .col-#{$size}-#{$column} {
        width: $width;
      }
    }
  }
}

// --- display ---

@each $item in $display {
  .d-#{$item} {
    display: $item;
  }
}

@each $size, $breakpoints in $grid-breakpoints {
  @include media($breakpoints) {
    @each $item in $display {
      .d-#{$size}-#{$item} {
        display: $item;
      }
    }
  }
}

// --- flex ---

@each $item in $align-items {
  .align-items-#{$item} {
    align-items: $item;
  }
}

@each $key, $value in $justify-content {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}

@each $size, $breakpoints in $grid-breakpoints {
  @include media($breakpoints) {
    @each $key, $value in $justify-content {
      .justify-content-#{$size}-#{$key} {
        justify-content: $value;
      }
    }
  }
}



@each $item in $flex-direction {
  .flex-#{$item} {
    flex-direction: $item;
  }
}
@each $size, $breakpoints in $grid-breakpoints {
  @include media($breakpoints) {
    @each $item in $flex-direction {
      .flex-#{$size}-#{$item} {
        flex-direction: $item;
      }
    }
  }
}


@each $item in $flex-wrap {
  .flex-#{$item} {
    flex-wrap: $item;
  }
}

@each $size, $breakpoints in $grid-breakpoints {
  @include media($breakpoints) {
    @each $item in $flex-wrap {
      .flex-#{$size}-#{$item} {
        flex-wrap: $item;
      }
    }
  }
}

$flex-grow: (1);
@each $item in $flex-grow {
  .flex-grow-#{$item} {
    flex-grow: $item;
  }
}

// ---margin、padding---

@each $key, $value in $direction {
  @each $disKey, $disVal in $distance {
    .m#{$key}-#{$disKey} {
      @if ($key == 'y') {
        margin: 0 #{$disVal};
      } @else {
        margin-#{$value}: #{$disVal};
      }
    }
  }
}

@each $size, $breakpoints in $grid-breakpoints {
  @include media($breakpoints) {
    @each $key, $value in $direction {
      @each $disKey, $disVal in $distance {
        .m#{$key}-#{$size}-#{$disKey} {
          @if ($key == 'y') {
            margin: 0 #{$disVal};
          } @else {
            margin-#{$value}: #{$disVal};
          }
        }
      }
    }
  }
}
// --- 文字相關 ---

@each $key, $value in $font-weight {
  .fw-#{$key} {
    font-weight: $value;
  }
}

@mixin font-style {
  font-weight: 900;
  line-height: 120%;
}

@each $key, $value in $display-font-size {
  .display-#{$key} {
    font-size: $value;
    @include font-style;
  }
}

@each $key, $value in $title-font-size {
  .h#{$key} {
    font-size: $value;
    @include font-style;
  }
}


@each $key, $value in $title-font-size-md {
  @include media(768px) {
    .h#{$key}-md {
      font-size: $value;
    }
  }
}



@each $key, $value in $font-size {
  .fs-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $font-size {
  @include media(768px) {
    .fs-#{$key}-md {
      font-size: $value;
    }
  }
}

.text-align {
  &-center {
    text-align: center;
  }
}

.text-white {
  color: $primary;
}
.text-black {
  color: black;
}

.overflow-hidden {
  overflow: hidden;
}

.border {
  border: $border-width solid $border-color;
  &-bottom {
    border-bottom: $border-width solid $border-color;
  }
  &-top {
    border-top: $border-width solid $border-color;
  }
  &-0 {
    border: 0;
  }
}
.rounded {
  border-radius: 16px;
}
.line-height {
  &-normal {
    line-height: 150%;
  }
}


@each $item in $object-fit {
  .object-fit-#{$item} {
    object-fit: $item;
  }
}

.overflow-y-hidden{
  overflow-y:hidden;
}